# {{ ansible_managed }}
# Oracle 18c environment variables
export ORACLE_SID=XE
export ORACLE_BASE="{{ ORACLE_BASE }}"
export ORACLE_HOME="{{ ORACLE_HOME }}"
export ORAHOME="${ORACLE_HOME}"
export LD_LIBRARY_PATH="${ORACLE_HOME}/lib"
export PATH="${ORACLE_HOME}/bin":${PATH}

